body {
    padding-top: 58px;
}

.navbar-main-menu {
    padding: 20px 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    margin-bottom: 20px!important;
}

// Créer un nouveau bouton
.btn-custom {
    @include button-variant(#37b6bd, #37b6bd, #30a9af);
}

.btn-custom-outline {
    @include button-outline-variant(#37b6bd);
}

// Leaflet
.fs-container {
    height: 100%;
    width: 100%
}

.fs-container #map-container {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 990;
    margin-bottom: 0
}

.fs-content {
    max-height: 100%;
    padding: 0
}

.fs-container section.search {
    padding: 45px 40px;
    background-color: #fff
}

.fs-container .fs-listings {
    padding: 0 25px;
    margin: 0
}

.fs-switcher {
    padding: 0 25px;
    margin: 0
}

.fs-inner-container {
    width: 50%;
    float: left;
    display: inline-block
}

.fs-inner-container.content {
    width: 55%;
    background-color: #f7f7f7;
    z-index: 995;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .12);
    position: relative;
    padding-top: 80px
}

.fs-inner-container {
    width: 45%;
    background-color: #fff;
    z-index: 10
}

.fs-container .copyrights {
    padding: 30px 0;
    font-size: 15px
}

#header-container.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1100;
    background-color: #fff
}

.fs-inner-container.map-fixed {
    height: 100vh;
    position: fixed;
    top: 0;
    padding-top: 80px
}

button.fs-map-btn.button {
    position: relative;
    float: right;
    top: 6px;
    padding: 10px 40px;
    margin: 0
}

.fs-container .more-search-options-trigger {
    position: relative;
    top: 10px
}

.showing-results {
    color: #888;
    font-weight: 500;
    margin: 5px 0 25px
}

.listings-container.fs-listings {
    left: 0;
    width: 100%;
    position: relative
}

.listings-container.fs-listings.grid-layout {
    left: 0;
    width: 100%;
    position: relative
}

.listings-container.fs-listings.list-layout {
    padding: 0 40px
}

.listings-container.fs-listings.list-layout .listing-content {
    flex: 4
}

.listings-container.fs-listings.list-layout .listing-img-container {
    flex: 0 auto;
    max-width: 300px
}

@media(max-width:1365px) {
    .listings-container.fs-listings.grid-layout .listing-item {
        width: 100%;
        margin: 0 0 30px
    }
    .listings-container.fs-listings.grid-layout {
        padding: 0 40px
    }
    .listings-container.fs-listings.list-layout .listing-item {
        display: block
    }
    .listings-container.fs-listings.list-layout .details.button.border {
        display: none
    }
    .listings-container.fs-listings.list-layout .listing-img-container {
        max-width: 100%
    }
    .fs-switcher .layout-switcher {
        display: none
    }
}